In [5]:
#import libraries
import sqlite3
import os
import pandas as pd
from pathlib import Path

In [8]:
#import csv file
heart=pd.read_csv(Path('heart.csv'))

#select just a few columns as an example
heart=heart[['age','sex','cp','trtbps']]

# Create sqlite database

In [13]:

conn = sqlite3.connect(Path('heart.sqlite3'))
c = conn.cursor()

#define datatypes
c.execute('''CREATE TABLE IF NOT EXISTS heart_file (

    id INTEGER PRIMARY KEY,
    age INTEGER, 
    sex INTEGER, 
    cp INTEGER, 
    trtbps INTEGER

);''')


conn.commit()

conn.close()

# Import CSV files to a sqlite database

In [16]:
conn = sqlite3.connect(Path('heart.sqlite3'))
c = conn.cursor()
heart.to_sql('heart_file', con=conn,if_exists='append',index=False)
conn.commit()
conn.close()

# Check if the import worked by reading the data back

In [17]:
conn = sqlite3.connect(Path('heart.sqlite3'))
c = conn.cursor()
tst_read = pd.read_sql("SELECT * FROM heart_file", conn)
tst_read.head()

   id  age  sex  cp  trtbps
0   1   63    1   3     145
1   2   37    1   2     130
2   3   41    0   1     130
3   4   56    1   1     120
4   5   57    0   0     120